.agentic-page{
    /* font-family: 'Open Sans'; */
}

.robot-container{
    display: flex;
    justify-content: flex-end;
    margin: 10vh 10vh;
    margin-bottom: 5vh !important;
}

.robot-svg{
    height: 50vh;
}

.robot-text{
    text-align: center;
    margin-top: 3vh;
    font-size: 1rem;
    padding: 0px 20px;
}
