.robot-option-page{
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    height: 80vh;
    /* position: relative !important; */
}

.robot {
    width: fit-content;
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* border: 10px solid black; */
}



.menu-content{
    width: 80vw;
    height: 70%;
    margin: 4vh auto;
    display: flex;
    justify-content: space-between;
    /* gap: 1vw; */
}

.functional-card {
  background: 
  linear-gradient(to bottom, #E2FFED, #9DDEB5) padding-box,  /* Inner content background */
  linear-gradient(169.15deg, rgba(19, 115, 55, 0.4) 0%, rgba(134, 188, 36, 0.4) 96.79%) border-box;  /* Border */
  border: 2px solid transparent;
  border-radius: 12px;
}

.industrysector-card {
  background: 
  linear-gradient(to bottom, #E2FFED, #9DDEB5) padding-box,  /* Inner content background */
  linear-gradient(169.15deg, rgba(19, 115, 55, 0.4) 0%, rgba(134, 188, 36, 0.4) 96.79%) border-box;  /* Border */
  border: 2px solid transparent;
  border-radius: 12px;
}

.internal-card {
  background: 
  linear-gradient(to bottom, #E2FFED, #9DDEB5) padding-box,  /* Inner content background */
  linear-gradient(169.15deg, rgba(19, 115, 55, 0.4) 0%, rgba(134, 188, 36, 0.4) 96.79%) border-box;  /* Border */
  border: 2px solid transparent;
  border-radius: 12px;
}

.cards{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    gap: 0;
    /* background: linear-gradient(to bottom, #F0FFF6, #A9DBBC); */
    cursor: pointer;
}



.card img {
    width: 8vw;
}

.innerCard{
    height: inherit;
    margin:0;
    width: 100%;
}

/* .card :hover {
    background-color: #007a33;
    color: white;
}
.card :hover img{
    display: none;
} */

.card {
    width: 30%;
    height: 100%;
    perspective: 1000px; 
    background: 
    linear-gradient(to bottom, #E2FFED, #9DDEB5) padding-box,  /* Inner content background */
    linear-gradient(169.15deg, rgba(19, 115, 55, 0.4) 0%, rgba(134, 188, 36, 0.4) 96.79%) border-box;  /* Border */
    border: 2px solid transparent;
  }
   
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
   
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
   
  .card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: 'SF Pro', sans-serif;
  line-height: 120%;
  letter-spacing: -0.05em; 
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back p {
  font-size: 1rem;
  font-weight: 400;
}

.card-title {
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.05em;
}